html, body {
    --red: #F00202;
    --white: #FFFFFF;
    --green: #108C1D;
    --violet: #962929;
    --black: #000000;
    --radius: 8px;
    
    
    
    }
    
    body{
        background-color: var(--black);
    }

    .input1 {
        background-color: var(--white);
        color: var(--white);
        position: absolute;
        height: 35px;
        width: 900px;
        border-radius: 25px;
      }
      .btn1 {
        background-color: darkcyan;
        color: var(--black);
        position: absolute;
        left: 950px;
        height: 50px;
        width: 100px;
        border-radius: 25px;
      }
      
      .btn1:hover {
        background-color: cyan;
        color: var(--black);
        left: 950px;
        height: 50px;
        width: 100px;
        border-radius: 25px;
        
      
        
    }
