html, body {
    --red: #F00202;
    --white: #FFFFFF;
    --green: #108C1D;
    --violet: #962929;
    --black: #000000;
    --radius: 8px;
    
    
    
    }
    
    body{
        background-color: var(--black);
    }
    
    p {
        word-spacing: 30px;
      }

    table {
        width: 100%;
        }
        td {
          border: 1px solid rgba(119, 119, 119, 0);
          padding: 7px;
        }
        td:first-child {
          width: 30%;
        }
        .button1 {
            background-color: darkcyan;
            color: var(--black);
            position: absolute;
            left: 1290px;
            top: 140px;
            border-radius: 9px;
            border-color: #F00202;
            
          }
          
          .button1:hover {
            background-color: cyan;
            color: var(--black);
            cursor: pointer;
            
          
            
        }
        .button2 {
            background-color: darkcyan;
            color: var(--black);
            position: absolute;
            left: 1290px;
            top: 180px;
            border-radius: 9px;
            border-color: #F00202;
          }
          
          .button2:hover {
            background-color: cyan;
            color: var(--black);
            cursor: pointer;
         }
         .button3 {
            background-color: darkcyan;
            color: var(--black);
            position: absolute;
            left: 100px;
            top: 30px;
            border-radius: 9px;
            border-color: #F00202;
          }
          
          .button3:hover {
            background-color: cyan;
            color: var(--black);
            cursor: pointer;
            
          
            
        }
      #infected_pc_table {
        width: 100%;
        overflow-x: auto;

      }
      
      .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
     
